<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"
    />
    <title>户表筛选脚本工具</title>
    <style>
      .app {
        /* margin: auto; */
        width: 100%;
      }
      .box-card {
        margin: auto;
        width: 600px;
        justify-content: center;
        align-items: center;
        position: relative;
      }
      .dowm {
        position: absolute;
        right: 26px;
        top: 30px;
        font-size: 14px;
        z-index: 99;
      }
      .upload {
        height: 240px;
        margin-left: 18%;
      }
      .compare_button {
        height: 40px;
        margin-left: 18%;
        margin-top: 30px;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <el-card class="box-card">
        <span class="dowm" @click="downLoad()"
          ><el-link>下载模板</el-link></span
        >
        <el-tabs v-model="activeName">
          <el-tab-pane label="数据筛选" name="first">
            <!-- 上传 -->
            <div class="upload">
              <el-upload
                class="upload-demo"
                drag
                action="/upload"
                :on-success="handleUploadSuccess"
                :limit="1"
                multiple
              >
                <i class="el-icon-upload"></i>
                <div class="el-upload__text">
                  将文件拖到此处，或<em>点击上传</em>
                </div>
              </el-upload>
            </div>
            <!-- 表单 -->
            <div>
              <el-form
                :model="ruleForm"
                :rules="rules"
                ref="ruleForm"
                label-width="120px"
                class="demo-ruleForm"
              >
                <el-form-item label="最后上传时间" required>
                  <el-col :span="11">
                    <el-form-item prop="date1">
                      <el-date-picker
                        type="datetime"
                        placeholder="选择时间-当前时间（间隔）"
                        v-model="ruleForm.date"
                        style="width: 260px"
                        value-format="yyyy-MM-dd HH:mm:ss"
                      ></el-date-picker>
                    </el-form-item>
                  </el-col>
                </el-form-item>
                <el-form-item label="运营商" prop="type">
                  <el-checkbox-group v-model="ruleForm.type">
                    <el-tooltip
                      class="item"
                      effect="dark"
                      content="编码：898600、898602、898604、898607"
                      placement="top-start"
                    >
                      <el-checkbox label="中国移动" name="type"></el-checkbox>
                    </el-tooltip>
                    <el-tooltip
                      class="item"
                      effect="dark"
                      content="编码：898601、898606、898609"
                      placement="top-start"
                    >
                      <el-checkbox label="中国联通" name="type"></el-checkbox>
                    </el-tooltip>
                    <el-tooltip
                      class="item"
                      effect="dark"
                      content="编码：898603、898611"
                      placement="top-start"
                    >
                      <el-checkbox label="中国电信" name="type"></el-checkbox>
                    </el-tooltip>
                  </el-checkbox-group>
                </el-form-item>
                <el-form-item>
                  <el-button type="primary" @click="submitForm('ruleForm')"
                    >筛选并导出</el-button
                  >
                  <el-button @click="resetForm('ruleForm')">重置</el-button>
                </el-form-item>
              </el-form>
            </div></el-tab-pane
          >
          <el-tab-pane label="数据取差集" name="second">
            <div class="upload">
              <el-upload
                ref="upload"
                class="upload-demo"
                drag
                :auto-upload="false"
                :on-success="twoUploadSuccess"
                :limit="2"
                action="/uploads"
                multiple
              >
                <i class="el-icon-upload"></i>
                <div class="el-upload__text">
                  将文件拖到此处，或<em>点击上传</em>
                </div>
              </el-upload>
            </div>
            <div class="compare_button">
              <el-button type="primary" @click="compare()"
                >对比并导出</el-button
              >
            </div>
          </el-tab-pane>
        </el-tabs>
      </el-card>
    </div>
  </body>
</html>
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<!-- 引入样式 -->
<link
  rel="stylesheet"
  href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"
/>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  const app = new Vue({
    el: "#app",
    data: {
      ruleForm: {
        date: "",
        type: [],
      },
      rules: {
        date: [
          {
            type: "date",
            required: true,
            message: "请选择最后上传时间",
            trigger: "change",
          },
        ],
        type: [
          {
            type: "array",
            required: true,
            message: "请至少选择一个运营商",
            trigger: "change",
          },
        ],
      },
      fileName: "", // 文件名称
      activeName: "first", // 当前页
      fileNames: [], // 文件上传列表
    },
    methods: {
      // 提交表单
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            // alert("submit!");
            this.downloadExcel();
          } else {
            console.log("error submit!!");
            return false;
          }
        });
      },

      // 重置表单
      resetForm(formName) {
        this.$refs[formName].resetFields();
      },

      // 上传成功
      handleUploadSuccess(res) {
        this.fileName = res.fileName;
        console.log(this.fileName, "this.fileName");
      },

      // 下载接口
      downloadExcel() {
        window.location.href = `/download?fileName=${this.fileName}&lastData=${
          this.ruleForm.date
        }&moduleNumber=${this.ruleForm.type.toString()}`;
      },

      // 对比并导出
      compare() {
        this.$refs.upload.submit();
      },

      commonExportData(res) {
        //转换成二进制对象
        const type = "application/x-download;charset=UTF-8";
        const blob = new Blob([res], { type: type });
        const downloadElement = document.createElement("a");

        //二进制对象转换成url地址
        const href = window.URL.createObjectURL(blob);
        downloadElement.href = href;
        //获取headers中的filename文件名
        downloadElement.download = "result.xlsx";
        //下载
        document.body.appendChild(downloadElement);
        downloadElement.click();
        //下载完成移除元素
        document.body.removeChild(downloadElement);
        //释放掉blob对象
        window.URL.revokeObjectURL(href);
      },

      twoUploadSuccess(res) {
        // console.log(res.fileName[0].originalname,'文件命名');
        this.fileNames.push(res.fileName[0].originalname);
        // 调用对比接口
        if (this.fileNames.length == 2) {
          axios({
            method: "get",
            url: `/twoDownload?firstData=${this.fileNames[0]}&secondData=${this.fileNames[1]}`,
            responseType: "blob",
          }).then((res) => {
            this.commonExportData(res.data);
          });
        }
      },

      downLoad() {
        // console.log('点击了');
        let a = document.createElement("a");
        a.href = "模板.xlsx";
        a.download = "文件模板.xlsx";
        a.style.display = "none";
        document.body.appendChild(a);
        a.click();
        a.remove();
      },
    },
  });
</script>
